/***** Reset ******/
body, html {
	margin: 0;
	padding: 0;
	background-color: #ECF1F2;
}

/***** Common ******/
.fl {float: left;}
.fr {float: right;}
.clrfix {clear: both; height: 0; margin: 0; padding: 0; font-size: 0;}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../common/fonts/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../common/fonts/PIbvSEyHEdL91QLOQRnZ13hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
	font-size: 14px;
	font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;	
}

/***** Header Content ******/
.header-content, .header-container {
	height: 28px;	
}

.header-container {
	width: 100%;
	background-color: #696C6A;
	border-bottom: 1px solid #363736;
	position: fixed;
	top: 0;
	left: 0;
}

.header-container .menu {
	color: #fff;
	font-weight: bold;
	padding: 5px;
}

.cpus {
	margin: auto;
	width: 250px;
}

.cpus .cpu {
	margin-right: 10px;
}

.cpus .cpu h1 {
	font-size: 15px;
}

/***** Main Content ******/
.main-box {
	width: 100%;
	margin: auto;
	text-align: center;
}

.content-panel {
	background-color: #fff;
	width: 300px;
	height: 300px;
	margin: 10px 10px 0 0;
	text-align: center;
	box-shadow: 0 0 2px 0 #696C6A;
}

.panels-container {
	width: 310px;
	margin: auto;
	padding: 0 0 0 10px;
}

@media (min-width: 650px) {
	.panels-container {width: 620px;}
}

@media (min-width: 960px) {
	.panels-container {width: 930px;}
}

@media (min-width: 1270px) {
	.panels-container {width: 1240px;}
}

@media (min-width: 1580px) {
	.panels-container {width: 1550px;}
}

@media (min-width: 1890px) {
	.panels-container {width: 1860px;}
}

@media (min-width: 2200px) {
	.panels-container {width: 2170px;}
}

@media (min-width: 2510px) {
	.panels-container {width: 2480px;}
}

@media (min-width: 2820px) {
	.panels-container {width: 2790px;}
}
