/***** Reset ******/
body, html {
	margin: 0;
	padding: 0;
	background-color: #ECF1F2;
}

/***** Common ******/
.fl {float: left;}
.fr {float: right;}
.clrfix {clear: both; height: 0; margin: 0; padding: 0; font-size: 0;}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/PIbvSEyHEdL91QLOQRnZ13hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
	font-size: 14px;
	font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;	
}

/***** Header Content ******/
.header-content, .header-container {
	height: 28px;	
}

.header-container {
	width: 100%;
	background-color: #696C6A;
	border-bottom: 1px solid #363736;
	position: fixed;
	top: 0;
	left: 0;
}

.header-container .menu {
	color: #fff;
	font-weight: bold;
	padding: 5px;
}

/**** CPU Panel ****/

.cpus {
	/* margin: auto;
	width: 250px; */
}

.cpus .cpu {
	width: 25%;
	border-bottom: 1px solid #DCE8EB;
	border-left: 1px solid #DCE8EB;
	/* margin-left: -1px; */
}

.cpus .cpu.first {
	border-left: 0;
	margin-left: 0;
}

.cpus .cpu h1 {
	font-size: 15px;
	padding: 3px;
	margin: 0;
	background-color: #BED2D9;
	font-weight: bold;
}

.cpus .cpu .usage {
	font-size: 15px;
	letter-spacing: 2px;
}

.cpus .cpu .usage span {
	background-color: black;
	display: inline-block;
	color:  #ECF1F2;
	/*padding: 0 5px 0 5px;*/
	width: 100%;
	font-weight: bold;
	
	background: #696c6a; /* Old browsers */
	background: -moz-linear-gradient(top,  #696c6a 0%, #000000 50%, #696c6a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696c6a), color-stop(50%,#000000), color-stop(100%,#696c6a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #696c6a 0%,#000000 50%,#696c6a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #696c6a 0%,#000000 50%,#696c6a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #696c6a 0%,#000000 50%,#696c6a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #696c6a 0%,#000000 50%,#696c6a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696c6a', endColorstr='#696c6a',GradientType=0 ); /* IE6-9 */
}

.cpus .cpu .level {
	padding: 5px 0 5px 0;
}

.cpus .cpu .level .bar {
	width: 20px;
	height: 80px;
	margin: auto;
	border: 1px solid #DCE8EB;
	
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #eeff00 28%, #eeff00 41%, #50e06f 58%, #00e535 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(28%,#eeff00), color-stop(41%,#eeff00), color-stop(58%,#50e06f), color-stop(100%,#00e535)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#eeff00 28%,#eeff00 41%,#50e06f 58%,#00e535 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#eeff00 28%,#eeff00 41%,#50e06f 58%,#00e535 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#eeff00 28%,#eeff00 41%,#50e06f 58%,#00e535 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#eeff00 28%,#eeff00 41%,#50e06f 58%,#00e535 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00e535',GradientType=0 ); /* IE6-9 */
}

.cpus .cpu .level .cover {
	width: 100%;
	height: 95%;
	background-color: #F7F9FE;
}

.cpus .graph-container {
	padding: 5px;
}

.cpus .graph {
	border: 1px solid #DCE8EB;
	background-color: #F7F9FE;
	margin: 0;
	padding: 0;
}

canvas {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	z-index: 999;
}

/***** Main Content ******/
.main-box {
	width: 100%;
	margin: auto;
	text-align: center;
}

.content-panel {
	background-color: #fff;
	width: 300px;
	height: 300px;
	margin: 10px 10px 0 0;
	text-align: center;
	box-shadow: 0 0 2px 0 #696C6A;
}

.panels-container {
	width: 310px;
	/* margin: auto; */
	padding: 0 0 0 10px;
}

table.tasks th {
	text-align: center;	
	background-color: #BED2D9;
}

table.tasks {
	width: 100%;
}

table.tasks td, table.tasks th {
	border: 1px solid #DCE8EB;
}

table.tasks tr:hover {
	background-color: #F7F9FE;
}

@media (min-width: 650px) {
	.panels-container {width: 620px;}
}

@media (min-width: 960px) {
	.panels-container {width: 930px;}
}

@media (min-width: 1270px) {
	.panels-container {width: 1240px;}
}

@media (min-width: 1580px) {
	.panels-container {width: 1550px;}
}

@media (min-width: 1890px) {
	.panels-container {width: 1860px;}
}

@media (min-width: 2200px) {
	.panels-container {width: 2170px;}
}

@media (min-width: 2510px) {
	.panels-container {width: 2480px;}
}

@media (min-width: 2820px) {
	.panels-container {width: 2790px;}
}
